<div style="text-align:center">
  <h3>
    Welcome to Github NodeJS open issues!
  </h3>
  <h5>
    (limited to 60 requests per hour)
  </h5>
</div>

<ul>
  <span *ngIf="loadingRepos === true">
    loading repositories...
  </span>
  <li *ngFor="let repo of repos | async">
    <span (click)="toggleOpenIssue(repo.name)">{{repo.name}}</span>
    <span *ngIf="showIssues[repo.name]">
      <ul>
        <span [ngSwitch]="!!openIssues[repo.name]">
          <span *ngSwitchCase="true">
            <span>Open issues: {{openIssues[repo.name].length}}</span>
            <li *ngFor="let openIssue of openIssues[repo.name]">
              <sub *ngIf="openIssue">{{openIssue.title}}</sub>
            </li>
          </span>
          <span *ngSwitchDefault>
            loading open issues...
          </span>
        </span>
      </ul>
    </span>
  </li>
</ul>
